@font-face {
    font-family: 'OpenSans-Light';
    src: url(../fonts/OpenSans-Light.ttf);
}

@font-face {
    font-family: 'RobotoCondensed-Light';
    src: url(../fonts/RobotoCondensed-Light.ttf);
}
@font-face {
    font-family: 'OpenSans-Regular';
    src: url(../fonts/OpenSans-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: RobotoCondensed-Regular;
    src: url('../fonts/Roboto-Condensed-webfont.eot?#iefix') format('embedded-opentype');/* IE6-IE8 */
    src: url('../fonts/Roboto-Condensed-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Roboto-Condensed-webfont.woff') format('woff'); /* Pretty Modern Browsers*/
    src: url('../fonts/RobotoCondensed-Regular.ttf') format('truetype');/* Safari, Android, iOS */
font-weight: normal;
}
html {
    position: relative;
    min-height: 100%;
}
* {
    margin: 0;
    padding: 0
}
body {
    font-size: 14px;
    font-family: OpenSans-Regular,RobotoCondensed-Light, arial, helvetica, sans-serif;
    background-color: #fcfcfc;
}
#footer {
      bottom: 0;
    width: 100%;
    margin: 0 auto;
    /* Set the fixed height of the footer here */
    padding: 20px 0 20px 0;
    overflow: hidden;

}
.font-Light, #copyright, .h1, #login-mraovat ul li a, .price, .menu-about-us .list-group, .details-round .media-body, .details-products .title, .col-md-12 h2, .productBestseller-title {
    font-family: OpenSans-Light,RobotoCondensed-Light;
}
/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
.container {
    width: auto;
    max-width: 940px;
    padding: 0 15px;
}
.container .text-muted {
    margin: 20px 0;
}
.navbar {
    background-color: #fc5252;
}
.navbar a {
    color: #FFFFFF !important;
}
.section {
    height: 700px;
}
.row {
    min-height: 25px;
}
.hr {
    width: 100%;
    height: 1px;
    background-color: #d5d5d5;
    clear: both;
    margin: 5px 0;
}
.username a {
    font-weight: bold;
    color: #fc5252;
    font-size: 17px;
}
#grid[data-columns]::before {
    content: '3 .column.size-1of3';
}
.list-news .media-heading,.thumbnail .caption h4{font-family: OpenSans-Light,RobotoCondensed-Regular}
/* These are the classes that are going to be applied: */
.column {
    float: left;
}
.size-1of3 {
    width: 33.333%;
}
@media screen and (max-width: 480px) {
    #grid[data-columns]::before {
        content: '1 .column.size-1of1';
    }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
    #grid[data-columns]::before {
        content: '2 .column.size-1of2';
    }
}
@media screen and (min-width: 769px) {
    #grid[data-columns]::before {
        content: '3 .column.size-1of3';
    }
}
/* Again, you’re free to use and define the classes: */
.column {
    float: left;
}
.size-1of1 {
    width: 100%;
}

.size-1of2 {
    width: 50%;
}
.size-1of3 {
    width: 33.333%;
}
#top-link-block.affix-top {
    position: absolute; /* allows it to "slide" up into view */
    bottom: -82px; /* negative of the offset - height of link element */
    right: 20px; /* padding from the left side of the window */
}

#top-link-block.affix {
    position: fixed; /* keeps it on the bottom once in view */
    bottom: 28px; /* height of link element */
    right: 20px; /* padding from the left side of the window */
}
.category-item {
    margin-bottom: 20px;
    padding: 0;
    display: block;
    position: relative;
    width: 100%;
    height: 300px;
}
.category-title {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;
    background: rgba(0, 0, 0, 0.3);
    padding: 7px 0;
}
.category-news .product-item,.details-news .product-item{margin-bottom: 6px; }
.list-news ul{margin-left: 0px}
.category-news .product-item img.sticky,.details-news .product-item img.sticky{}
.h4-item {
    font-size: 24px;
    font-weight: 700}
.h2{
    font-size: 20px;
    color:#fc5252 ;
}
.h1{font-size: 60px;
    font-weight: 500;}
.category-title h4 {
    color: #fff;
}
.product-item {
    position: relative;
    background-color: #fff;
    overflow: hidden;
}
/*************edit***********/
.product-item-cate {
    position: relative;
    background-color: #fff;
    overflow: hidden;
}

.product-item-cate img {
    display: block;
    height: 300px;
    margin: 0 auto;
}

.product-item img {
    display: block;
    margin: 0 auto;
}
.item-container
{
    width: 550px;
    height: 289px;
    position: relative;
    overflow: hidden;
}
.item-container img
{
    left: -130px;
    position:absolute;
    width:100%;
}
/*************/
.product-item-crop-title {
    overflow: hidden;
    font-size: 15px;
    white-space: nowrap; /* Don't forget this one */
    text-overflow: ellipsis;
    line-height: 2;
    font-weight: 700;
}
#header-site .mraomenu {
    padding-left: 0;
    padding-right: 0
}

.navbar-collapse {
    padding-right: 0;
    padding-left: 0
}
.details-page .row {
    margin-left: 0px;
    margin-right: 0px;
}
/**menu**/
.navbar-form > p {
    margin: 2px 0px 0px 3px;
    color: #fc5252;
}
ul {
    list-style: none;
    margin-left: 30px;
}
.navbar {
    margin-bottom: 0;
    border-radius: 0px
}
.navbar-default {
    border: none
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background: #ff6d6d;
    opacity: 1
}
.navbar-nav > li > a {
    line-height: 43px;
}
.navbar-nav > li:hover {
    background: #ff6d6d;
}
.navbar-default .navbar-toggle {
    border: 1px solid #fff
}
.navbar-default .navbar-toggle:hover {
    border: 1px solid #FFF;
    background: #fc5252
}
/*icon button menu*/
.navbar-default .navbar-toggle .icon-bar {
    background: #fff
}
.navbar-default .navbar-toggle .icon-bar:hover {
    background: #fc5252
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background: none;
    border: 1px solid #fff
}
/**welcome-slide**/
.welcome-slide {
    text-align: center;
    background: url("../images/bannerTop.jpg") no-repeat right;
    min-height: 478px;
    overflow: hidden
}
.welcome-content .welcome-slide .message {
    margin-left: auto;
    font-size: 18px;
    margin-right: auto;
    padding: 20px;
    max-width: 81%;
    font-family: OpenSans-Light,RobotoCondensed-Light;
    color: #fff;
    opacity: 1
}
.contact-form textarea {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #cfcfcf
}
.contact-form .btn-danger {
    margin-top: 4%;
    padding: 10px;
    width: 20%;
}
.welcome-content .welcome-slide .ads {
    padding: 11px;
    margin: 0 auto;
    width: 56%;
    color: #ffffff;
    font-family: OpenSans-Light,RobotoCondensed-Light,Arial;
    background: #000;
    opacity: 0.73;
    overflow: hidden;
    margin-top: 4%
}
.welcome-content .welcome-video {
    background-color: #1c1c1c;
    text-align: center;
    padding: 74px 0px
}
.video-header-bg {
    background: url("../images/bg-line.png") no-repeat top;
    height: 45px
}
.welcome-content .welcome-about-us {
    background: #fcfcfc
}
.welcome-content .welcome-about-us .icon {
    max-width: 80%;
    height: auto;
    float: left;
    padding-right: 2%
}
.lien-he {
    background: #e8e8e8
}
.footer-bg {
    background: #e8e8e8
}
.bg-map {
    width: 100%;
    overflow: hidden
}
a:hover {
    list-style: none
}
#copyright {
    font-size: 14px;
    padding: 10px;
}
.list-inline a {
    color: #FC5252
}
.list-inline .first {
    border-right: 1px solid #fc5252
}
.welcome-content .welcome-about-us .menu-about-us h4 {
    color: #FC5252;
    font-size: 20px
}
.menu-about-us li {
    padding: 2% 0 0;
    font-size: 14px;
    max-width: 100%
}
.bg{
    background-color: #e9e9e9;}
.strong {
    font-size: 60px;
    font-weight: normal;
}
.action-box{
    margin-top: 25px;
}
.img-phone img {
    padding: 10px 22px
}
#fb-root {
    display: none;
}
/* To fill the container and nothing else */
.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
    width: 100%;
}
/*.menu-about-us{margin-left: -48px;}*/
.social-mraovat .message {
    margin: 0 auto;
    max-width: 64%;
}
.img-social {
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
}
.social-mraovat img {
    float: left
}
.img-social .social li {
    float: left;
    padding: 5% 5% 0 11%;
    width: auto;
}
.social-mraovat {
    padding: 10px 0 30px;
    background: #fff
}
.apps-mraovat {
    padding:0 0 20px;
}
.social-header-bg {
    background: url("../images/bg-line-white.png") no-repeat bottom;
    height: 45px;
    width: 100%
}
.welcome-about-us-ft {
    background: url("../images/bg-line-white.png") no-repeat bottom;
    height: 45px;
    width: 100%
}
.social-header-footer {
    background: url("../images/bg-line-white-ft.png") no-repeat top;
    height: 45px;
    width: 100%
}
.welcome-video-ft {
    background: url("../images/bg-line-ft.png") no-repeat;
    height: 45px;
    width: 100%
}
.social-mraovat .container {
    background: #fff
}
.apps-mraovat img {
    padding: 30px 39px;
}
.blog {
    background: #f7f7f7
}
.huong-dan {
    background: #f7f7f7
}
.huong-dan .default-content {
    background: #e4e4e4
}
.huong-dan #footer {
    background: url("../images/line-browse.png") no-repeat top;
    width: 100%
}
.blog #footer, {
    background: url("../images/line-browse.png") no-repeat top;
    width: 100%
}
.profile-page .footer-site {
    background: url("../images/line-browse.png") no-repeat;
    background-color: #f7f7f7
}
.social {
    margin: 0 auto
}
.copyright-footer {
    overflow: hidden;
    float: left;
    width: 100%
}
/*page default */
.san-pham .default-content, .blog .default-content {
    background: #e9e9e9
}
.san-pham .round-detail-list {
    background: #f7f7f7;
    overflow: hidden;
    width: 100%;
}
.san-pham .round-detail-list #footer {
    background: url("../images/line-browse.png") no-repeat top;
    width: 100%;
}
.avatar-like {
    overflow: hidden;
    line-height: 44px
}
/*button toggle*/
.search-login-register-form .navbar-form {
    padding: 13px 0 25px;
    position: relative;
    z-index: 99;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    overflow: hidden;
    border: 0px
}
.filter-box{margin-top: -40px;border: solid 1px #fc5252;border-radius: 5px;position: relative;margin-bottom: 20px;padding: 10px;}
.filter-box span{position: absolute;top: -11px;left: 20px;background: #e9e9e9;padding: 0px 5px 0px 5px;color: #fc5252}
.btnFilter{margin-top: 25px;}
.search-login-register-form .navbar-default .navbar-toggle .icon-bar {
    background: #fc5252
}
.search-login-register-form .navbar-toggle {
    margin-right: 0px;
    margin-top: 31px
}
.search-login-register-form .form-control {
    margin-top: 10px;
    padding: 6px 19px;
    background: url("../images/ico-search.png") #fff no-repeat right
}
/**login*/
.search-login-register-form .navbar-default {
    background: none;

}
.search-login-register-form {
    padding: 13px 0 25px
}
#login-mraovat ul li a {
    color: #fc5252;
}
#login-mraovat ul li:hover a {
    color: #fff
}
#login-mraovat .navbar-nav > li > a:focus{color: #000;}
#login-mraovat ul li i {
    font-size: 20px
}
#login-mraovat .navbar-nav > li > a {
    padding: 7px 14px
}
.close {
    color: #fff;
    opacity: 1
}
.category-item .img-items {
    margin: 0 auto;
    height: 100%;
}
.banner > div {
    margin: 0 auto 20px;
    max-width: 400px;
    position: relative;
}
.details-item {
    overflow: hidden
}
.details-item .item {
    padding: 0 9px
}
.details-item a.item-title {
    color: #444
}
.details-item a.item-title.active {
    color: #444
}
.details-item a.item-title:hover {
    color: #fc5252
}
.price {
    color: #fc5252;
    font-size: 14px;
}
.ago {
    position: absolute;
    right: 0px;
    margin-top: -31px;
}
.icon-group {
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
    overflow: hidden;
    padding-bottom: 2px
}
.icon-group .glyphicon {
    font-size: 23px;
    top: 5px;
    right: 4px
}
.icon-group label {
    color: #dadada;
    padding: 4px
}
.icon-group ul, .icon-group ul li {
    float: left;
    overflow: hidden
}
.menu-about-us .list-group {
    overflow: hidden;
    margin-bottom: 0;
}
.menu-about-us .list-group p {
    margin: 1%
}
.apps-mraovat a.btn {
    background: none repeat scroll 0 0 #fc5252;
    border: 1px solid #fc5252;
    border-radius: 50px;
    color: #fff;
    padding: 10px 32px;
    font-weight: 700
}
.apps-mraovat .col-sm-4{margin-bottom: 17px}
.avatar-like img {
    float: left;
    height: 41px;
    margin: 6px 27px;
    width: 35px;
}
.avatar-like .glyphicon-star {
    color: #ffda55;
    font-size: 20px;
    margin: 4px;
    top: 4px;
}
.icon-group .number {
    color: #a0a0a0;
    font-weight: normal
}
.details-round {
    border: 1px solid #fff;
    border-radius: 8px;
    background: #fff
}
#amazingslider-1 {
    max-width: 100%;
    width: auto
}
#amazingslider-1 li {
    border: 1px solid
}
.amazingslider-nav-0 {
    padding-bottom: 3px;
}
.amazingslider-img-0 img {
    margin-top: 0px !important;
}
.amazingslider-bullet-wrapper-0 div div img {
    margin-top: 0px !important;
}
.show-slide {
    padding-left: 0px
}
.details-round .clearfix{width: 100%;}
.details-round .media-body {
    margin: 0 auto;
    padding-left: 0px;
}
.details-round .col-md-6 {
    padding-top: 10px
}
.icon-groups {
    border-top: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
    padding: 10px;
    margin-bottom: 10px
}
.icon-groups i {
    font-size: 25px;
    color: #dadada
}
.avatar-like span a {
    color: #fc5252
}

.btn-link {
    font-size: 13px;
    color: #a1a1a1
}
.icon-groups label {
    margin: 0 18px 0 10px;
    font-weight: normal
}
.date-post {
    font-size: 10px;
    margin: 12px
}
.btn-submit {
    color: #fff;
    margin: 10px 0;
    padding: 10px 38px;
    background: #fc5252;
    border: 0;
}
.fb_iframe_widget {
    top: -2px
}

.details-news .fb-like {
    float: right;width: auto;
}
.details-products .title {
    font-weight: normal;
    color: #fc5252;
    font-size: 26px
}
.address .glyphicon-map-marker {
    font-size: 16px
}
.content-comments {
    font-family: OpenSans-Regular;
    width: 100%;
    text-align: left;
    float: left
}
.form-comnt {
    padding-top: 13px
}
.round-gird {
    margin-top: 20px
}
.col-md-12 {
    margin: 0 auto;
}
.details-page h3 a {
    list-style: circle inside;
    color: #808080;
    font-size: 16px
}
.grid-pro h3 a {
    list-style: circle inside;
    color: #808080;
    font-size: 18px
}
.grid-pro h3{text-align: left;width: 100%;float: left}

.col-md-12 .title {
    margin-left: -7px
}
#loginBox .form-control, #registerBox .form-control {
    margin-top: 9px;
    margin-bottom: 4px
}
.san-pham .round-gird h2.font-Light {
    padding-bottom: 10px
}
.navbar-nav > li > a {
    padding-left: 20px;
    padding-right: 20px;
}
.navbar-form form .form-control {
    margin-left: 0px
}
#status {
    padding-bottom: 5px
}

#loginBox .or {
    margin-top: 4px
}
#loginBox .modal-dialog .btn {
    margin: 4px;
    width: 200px
}
#loginBox .modal-footer, #registerBox .modal-footer {
    border-top: 0px
}

#loginBox .modal-header, #registerBox .modal-header {
    background: #fc5252;
    color: #fff
}
.details-page .glyphicon-home {
    color: #808080
}
.grid-pro .glyphicon-home {
    color: #808080
}
.col-md-12 h2 {
    padding: 8px 0 10px 0px
}
.productBestseller-title {
    background: #f5f5f5;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 3px 5px 8px;
    margin-bottom: -5px;
    z-index: 10
}
.productBestseller-title h4 {
    font-size: 23px
}

.category-news h4 a {
    color: #000
}
.category-news h4 a:hover {
    color: #fc5252
}
.list-news {
    padding-bottom: 12px;
    padding-top: 1px;
    border: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px
}
.list-news, .one-details-new {
    background: #fff;
}
.one-details-new {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px
}

.list-news .media-body {
    overflow: visible;
}
.list-news .media {
    margin: 27px 0 0;
}
.media-body .font-Light, .one-details-new .font-Light {
    font-size: 15px;
    color: #000
}
.media, .media-body {
    letter-spacing: 0px;
    overflow: hidden;
    padding: 0px 7px 1px 11px;
    text-align: justify;
}
/*.category-news .col-sm-8{padding-left: 0}*/
.one-details-new .thumbnail {
    padding: 0px;
    margin-bottom: 3px;
    border-radius: 0;
    border: 0
}
.one-details-new .thumbnail img {
    transform: scaleY(1);
    transition: all 0.7s;
    border-radius: 4px
}
.modal-dialog {
    max-width: 470px
}
.policy .logo {
    padding-top: 4%
}
.img-user {
    margin-top: 3%
}
.list-inline a img{width: 100px;}
.details-news .col-sm-8, .details-news .col-xs-12, .details-news .col-sm-4 {
    padding-left: 12px;
    padding-right: 12px;
}

.details-news .panel-default {
    border: 1px solid #fff
}

.details-news .col-sm-8 .link {
    color: #808080;
    font-size: 24px;
    margin-top: 0;
}
.details-news .col-sm-8 h3 a {
    color: #808080
}
.details-news .col-sm-8 .panel-body h3.title {
    margin-top: 0
}
.details-news .col-sm-8 .panel-body {
    text-align: justify;
    overflow: hidden
}
.details-news .col-sm-8 .panel-body img {
    overflow: hidden;
    width: 100%
}
.wrapper-guides {
    padding-bottom: 4%
}
.guide-home {
    margin: 0 auto
}

.wrapper-guides .content {
    padding-bottom: 6%;
    padding-top: 4%
}
.content .guide-title {
    padding-bottom: 30px
}
.wrapper-guides .guide-item {
    overflow: hidden;
    padding: 20px 34px;
}
.guide-item h3 {
    color: #fc5252
}
.wrapper-guides .media-body {
    overflow: visible
}
.wrapper-guides .list {
    margin-top: 3%
}
.settings .list-setting {
    padding-top: 10%
}
.settings {
    border-top: 1px solid #0088cc;
    padding-top: 4%;
    padding-bottom: 15%
}
.settings .title {
    padding-bottom: 4%
}

.settings .list-setting i {
    color: #fc5252
}

.details-news .col-sm-8 .panel-heading {
    background: #fff;
    padding: 6px 15px;
    font-size: 12px
}
.social-mraovat .fb-like-box{overflow: hidden;float: left;width: 100%}
.san-pham #footer, .profile-page {
    background: #e9e9e9
}
.welcome-slide .ads .h1{padding-top: 5px}
.ads-l  img{display: block;
    left: 0;
    max-height: 600px;
    position: fixed;
    top: 84px;
    width: 206px;margin-left: 6px}
.ads-r  img{display: block;
    right: 0;
    max-height: 600px;
    position: fixed;
    top: 84px;
    width: 206px;margin-left: 6px}
.reports{margin-top: 20px}
.media-heading{text-align: left}
.reports .text-right{margin-top: 30px;}
/**report***/
.demo-container {
    box-sizing: border-box;
    width: 100%;
    height: 450px;overflow: hidden;
    margin-top: 25px ;
    border: 1px solid #ddd;
    background: #fff;
    background: linear-gradient(#f6f6f6 0, #fff 50px);
    background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
    background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
    background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
    background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}
.demo-placeholder {width: 100%; height: 100%; font-size: 14px;line-height: 1.2em;}
.btn-xong { margin-top: 24px;vertical-align: bottom;}

.glyphicon-chevron-right{float: left;
    font-size: 7px;
    margin-right: 5px;color: #369;
    top: 5px;}
.cate-left{float: left;border-radius: 5px}

.h6-item{font-size: 14px;font-weight: normal;color: #468BCA; margin-bottom: 5px;
    margin-top: 5px;}
.cate2 ul{margin-left: 0px;width: 100%}
.cate2 .col-md-3{padding-left: 0px;padding-right: 0px}
/****/
.cate2 .col-md-9 {
    padding-left: 0;
    padding-right: 0;
}
.cate2 .media-object{float: left}
option{padding-left: 5px}
.cate2 .navbar-nav{padding: 0px}
.cate2 .navbar-nav > li{width: 100%;padding-left: 13px}
.cate2 .nav > li > a{padding: 0px;line-height:0px}
.cate2 .navbar{background: none;}
.cate2 .navbar-nav li:hover{background: none}
.cate2 .navbar-default .navbar-brand{color: #000;font-size: 17px;padding-top: 2px;height: auto}
.cate2 .visible-xs{display: block}
.cate2 .sidebar-nav{border: 1px solid #cfcfcf;border-radius: 5px;padding: 5px;background: #fff}
.cate-contents{border-radius: 5px;border: 1px solid #cfcfcf;padding-left: 10px;padding-right: 10px;background: #fff}
.cate-contents .h4-title{font-size: 13px;margin-top: 5px;padding: 5px 0;}
.cate-contents .order{font-size: 16px}
.cate2 .nav-tabs .tab{float: right; margin-bottom: 3px;}
.cate2 .nav-tabs{border-bottom: 1px solid #000;margin-bottom: 17px}
.grids .media-object{float: left;padding: 2px;border: 1px solid #cfcfcf;width: 90px;height: 70px;}
.grids .price{color: #fc5252}
.lists .price{color: #fc5252;font-size: 13px;text-align: right;float: right}
.cate-contents .lists{font-size: 13px;background: #fff}
.cate-contents .grids .media-heading{font-size: 14px;}
.cate-contents .grids .media-heading:first-letter{text-transform: uppercase}
.cate-contents .grids .media-heading{text-transform: lowercase}
.cate2 .product-name h4:first-letter{text-transform: uppercase}
.cate2 .product-name h4{text-transform: lowercase}
.cate2 .product-name h4{font-size: 14px}
.grids .address{font-size: 12px;margin-top: 3px;text-align: left}
.grids .address a{ color: #999;}
.grids .timer{font-size: 12px;color: #999}
.grids .media{padding-left: 0px}
.cate2 .navbar-collapse{height: auto}
.cate2 .navbar-default .navbar-toggle{border: 1px solid #fc5252;padding: 5px 8px}
.cate2 .navbar-default .navbar-toggle .icon-bar{background: #fc5252}
.login-register li a{color: #fc5252}
.search select{width:29%;color: #555;}
.search .btn-danger{max-width: 80px;float: right;margin-right: 0;}
.search .form-control{max-width: 200px;float: left; margin-bottom: 5px; margin-right: 7px;}
.search{border-radius: 5px; border: 1px solid #cfcfcf;overflow: hidden;padding: 10px 4px 20px;background: #e9e9e9;margin-bottom: 12px}
.categories-2 .navbar-header{display: none;}
.login-register .navbar-nav > li > a{line-height: normal}
.td-timer{width: 115px}
.td-price{width: 144px}
.td-gird-timer{width: 110px}

/***cate 2 new**/
.cate2 .media{padding-left: 0px}
.grids .item{padding-bottom:10px;padding-top: 10px;border-bottom: 1px solid #e1edf7;padding-right: 0px}
.cate2 .grids{overflow: hidden}
.cate2 .grids .item .product{padding-left: 0px}
.cate2 .media-body{padding-right: 3px}
.item .col-md-2{text-align: right}
.cate2 .navbar-nav > li a:hover{color: #fc5252}
.cate2 .product-name a{text-transform: lowercase}
.cate2 .product-name a:first-letter{text-transform: uppercase}
h4.vip{color: #000}
.hr{border-bottom: 1px solid #efefef}
.cate2 . navbar-brand{font-size: 17px;}
.space{padding-right: 3px}
.cate2 .nav > li > a#viewList{margin-right: 0px}
.total-item{font-size: 13px;color: #999}
.main-page .cate{margin-top: 5.5%}
.navbar-fixed-top img{margin-top: -3px;}
/*.table .product-name{max-width: 350px}*/
.main-page .navbar-nav > li > a{line-height: 32px}
/**end**/
/***thiet bi di dong**/

 @media only screen and (min-device-width: 320px) and (max-device-width: 767px){
    .navbar-nav > li > a{padding-left: 28px;line-height: 20px}
     .action-box{margin-top:0px;}
     .search-login-register-form{padding: 0px}
     .search-login-register-form .navbar-form{padding: 13px 0 19px;}
     .details-news .col-sm-8 .link{margin-top: 27px}
     .details-news .fb-like{width: auto}
     .grid-pro{margin-top: 40px}
     .details-page {margin-top: -20px}
     .details-page h3.h3-detail{margin-top: 13px}
     .contact-form .btn-danger{text-align: center;width: 42%;}
     .welcome-content .welcome-slide .ads {
         width: 90%
     }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 360px){
    .contact-form .form-group{margin-bottom: 0px;}
    .h1{font-size: 30px}
    .contact-form .btn-danger{text-align: center;float:left;}
    .navbar-form{margin-left: 0px}
    .apps-mraovat img {
        height: 67px;
        max-width: 45%;
        padding: 2px 6px;
    }
    .apps-mraovat {
        margin-bottom: 13px;
    }
    .welcome-video object{width: 95%;height: auto}
    #login-mraovat ul li a{margin-left: 6px}
    .demo-container{height: 300px}
    .cate-contents .grids .media-heading{font-size: 13px}
    .cate-contents .order{font-size: 15px}
    .cate2 .sidebar-nav{padding: 0px}
    .grids .price{font-size: 13px}
    .grids .address{font-size: 12px}
    .product-name h4.media-heading{font-size: 13px}
    .td-timer{width: 60px}
    .product-name{width: auto}
    .td-price{width: 10%}
    .cate2 .navbar-default .navbar-brand{padding-top:14px}
    .main-page .cate{margin-top: 20%}
    .navbar-fixed-top img{margin-top: -5px;}
}

@media only screen and (min-device-width: 361px) and (max-device-width: 740px){
    .welcome-content .welcome-slide .ads{width: 87%;} .h1{font-size: 20px}
                                                      .welcome-video object{width: 94%;height: auto}

}

@media (width: 320px) {
    .h1 {font-size: 23px; }
    .message {
        font-size: 14px; max-width: 88%; padding: 10px
    }
    .welcome-content .welcome-about-us .menu-about-us h4 {
        font-size: 14px
    }
    .welcome-content .welcome-video {
        padding: 0
    }
    .social-mraovat .message {
        max-width: 90%
    }
    .img-social .social li {
        width: 100%
    }
    .social-mraovat img {
        max-width: 30%
    }
    .welcome-content .welcome-about-us .icon {
        max-width: 14%
    }
    #copyright {
        font-size: 11px;margin: 0 auto; max-width: 87%;padding: 0;
    }
    #footer {
        padding: 10px 0
    }
    .navbar-nav > li > a {
        line-height: 13px
    }
    .search .search-control{max-width: 74%;}
    .search .btn-danger{width: 60px}
    .search select{width:48.6%;float: left}
    .search select.location{float: right;margin-right: 0px}
    .search .btn-danger{float: right}
}

@media (width: 360px) {
    .search .search-control{max-width: 80%;}
    .search select{width: 48.8%;float: left;}
    .search select.location{float: right;margin-right: 0px}
    .main-page .cate{margin-top: 17%}
}

/***480x800**/
@media (width: 480px) {
    .search .search-control{max-width: 86%;}
    .search select{width:219px;float: left;}
    .search select.location{float: right;margin-right: 0px}
    .main-page .cate{margin-top: 14%}
}
/**iphone 6**/
@media (width: 375px) {
    .search .search-control{max-width:81%;}
    .search select{width: 48.8%;float: left;}
    .search select.location{float: right;margin-right: 0px}
    .td-timer{width: 60px}
    .td-price{width: 103px}
    .main-page .cate{margin-top: 17%}
    .cate2 .navbar-default .navbar-brand{padding-top: 14px;}
    .navbar-fixed-top img{margin-top: -5px}
}
/**iphone 6 plus **/
@media (width: 414px) {
    .search .search-control{max-width:83%;}
    .search select{width: 48.8%;float: left;}
    .search select.location{float: right;margin-right: 0px}
    .td-timer{width: 80px}
    .main-page .cate{margin-top: 16%}
    .cate2 .navbar-default .navbar-brand{padding-top: 14px;}
}
/***/
@media (width: 768px) {
    .welcome-content .welcome-slide .ads {  width: 80%
    }
    .grid-pro h3{margin-top: 0px}
    .main-page .cate{margin-top: 8.5%}
}
@media (width: 1024px) {
    .main-page .cate{margin-top: 7.5%}
}
@media (min-width: 940px) and (max-width: 1366px) {

    .cate2 .col-md-3{width: 24%}
    .cate2 .col-md-9{width: 76%; margin-right: 0;padding-right: 0;padding-left: 10px}

}